#menu {
	width: 600px; /* Amplada del menú */
	height: 600px; /* Alçada del menú */
	margin: 0 auto; /* Centra el menú horitzontalment */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
body {
	background-image: url('fons.jpg');
	background-size: cover;

  }  
  .menu-object {
	display: block;
	margin: 30px auto;
	width: 400px;
	height: auto;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	font-size: 25px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
  }
  
  .title {
	font-size: 35px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
	background-color: rgba(255, 255, 255, 0.7); /* Fons opac */
	padding: 10px;
  }
  

  .cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  button {
	background-color: transparent;
  }
  
  button:hover {
	background-color: rgba(255,255,255,0.2);
  }
  
  #title {
	text-align: center;
	text-shadow: 0 0 10px white;
  }
  
  label {
	margin-left: 15px;
  }
  
  input {
	margin-left: 15px;
  }

  .logo-container {
	display: flex;
	  justify-content: center;
	height: 225px;
	position: relative;
}
.lines {
	stroke-width: 15;
	animation: line-animation 1s infinite alternate;
	animation-play-state: paused;
}
.logo-container:hover .lines {
	animation-play-state: running;
}
@keyframes line-animation {
	0% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1);
	}
}
.shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0); /* Color de l'ombra */
	z-index: 9999;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
}
.menu-object {
	transition: background-color 0.5s;
}
.menu-object:hover {
	background-color: rgba(198, 2, 2, 0.5);
}
